@tailwind base;
@tailwind components;
@tailwind utilities;


.dark {
  --background: #ffffff !important;
  --foreground: #171717 !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Noto Sans Thai', sans-serif;
}

.icon {
  @apply size-6 text-gray-600;
}