@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Noto Sans Thai', sans-serif;
}

.icon {
  @apply size-6 text-gray-600;
}

@keyframes pulse { 0%, 100% { opacity: 0.3; } 50% { opacity: 0.8; } }
@keyframes moveLeft { 0%, 100% { transform: translateX(0); } 50% { transform: translateX(-100px); } }
@keyframes moveRight { 0%, 100% { transform: translateX(0); } 50% { transform: translateX(100px); } }