.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

.no-scrollbar {
  overflow: auto; /* Allows scrolling */
  white-space: nowrap; /* Prevents table wrapping */
}
.table-container {
  max-height: 60vh;
  overflow: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container::-webkit-scrollbar {
  display: none;
}

.table-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sticky-header thead tr {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
